@page "/Register"
<PageTitle>Register</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        <h3>Formulaire d'inscription</h3>
        <EditForm 
                  Model="MyForm"
                  OnValidSubmit="OnSubmitForm"
                  Context="formContext">
            <DataAnnotationsValidator />
            <p class="list-item">
                <label class="col-form-label">Email</label>
                <InputText type="email" @bind-Value="MyForm.Email" class="form-control form-control col-6" />
                <ValidationMessage For="@(() => MyForm.Email)" />
            </p>
            <p class="list-item">
                <label class="col-form-label">LastName</label>
                <InputText @bind-Value="MyForm.LastName" class="form-control form-control col-6" />
                <ValidationMessage For="@(() => MyForm.LastName)" />
            </p>
            <p class="list-item">
                <label class="col-form-label">FirstName</label>
                <InputText @bind-Value="MyForm.FirstName" class="form-control form-control col-6" />
                <ValidationMessage For="@(() => MyForm.FirstName)" />
            </p>
            <p class="list-item">
                <label class="col-form-label">Mot de passe</label>
                <InputText type="password" @bind-Value="MyForm.Password" class="form-control form-control col-6" />
                <ValidationMessage For="@(() => MyForm.Password)" />
            </p>
            <p class="list-item">
                <label class="col-form-label">Confirmer mot de passe </label>
                <InputText type="password" @bind-Value="MyForm.PasswordConfirm" class="form-control form-control col-6" />
                <ValidationMessage For="@(() => MyForm.PasswordConfirm)" />
            </p>
            <button class="btn btn-outline-success" type="submit">Valider</button>
        </EditForm>
    </NotAuthorized>
</AuthorizeView>

